<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
  {%load static%}
<link rel="StyleSheet" type="text/css" href="{%static 'css/album.css'%}">
</head>
<body>

<header>
  <h4 id="brand">LetsChat</h4>
</header>

<!-- Page Content -->


<br><br><br><br>

Add New Album
<form action="/album/" method="POST">{% csrf_token %}
  <input type="text" name="album" placeholder="Enter Album Name">
  <input type="submit" value="Add Album">
</form>



<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'profle')">Profile</button>
  <button class="tablinks" onclick="openCity(event, 'cover')">Cover</button>
  <button class="tablinks" onclick="openCity(event, 'post')">Post</button>
</div>

<div id="profle" class="tabcontent" style="display:block;">
  {{img.post.url}}
  <div class="container gallerys">



    {% for img in profilePhotos %}
    {% if img.Image != 'media/profile.jpeg' %}
    <a href="{{img.Image.url}}" target="_blank">
    <img src="{{img.Image.url}}" class="img-fluid">
    </a>
    {% endif %}
  {% endfor %}
    
     
      
      
     
   


</div>
<!-- /.container -->
</div>

<div id="cover" class="tabcontent">
  <h3>cover</h3>
  {% for img in coverPhotos %}
    <a href="{{img.Image.url}}" target="_blank">
    <img src="{{img.Image.url}}" class="img-fluid">
    </a>

  {% endfor %}
  
</div>

<div id="post" class="tabcontent">
  <h3>Posts</h3>
  {% for img in photos %}
    {% if img.post %}
    <a href="{{img.post.url}}" target="_blank">
    <img src="{{img.post.url}}" class="img-fluid">
    </a>
    {% endif %}
  {% endfor %}
  
</div>




</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

  <script>
   $(document).ready(function(){
    $('.gallerys').magnificPopup({
     type: 'image',
     delegate: 'a',
     gallery: {
      enabled : true
     }
    });
   });


//Tab 
  function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  </script>

</html>