<!DOCTYPE html>
<html>
<head>
	<title></title>
	{%load static%}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="StyleSheet" type="text/css" href="{%static 'css/style1.css'%}">

</head>
<body>
<header class="container-fluid">
	<h2>let's Chat</h2>
</header>
<div class="container">
	<div id="createAccountDiv">
		<form action="/signup/" method="post">
			{% csrf_token %}
			<input type="text" class="form-control" placeholder="First Name" required id="Att1" name="firstName"><br><!--Att1 Stands for Attribute 1-->
			<input type="text" class="form-control" placeholder="Last Name" required id="Att1" name="lastName"><br><!--Att1 Stands for Attribute 1-->

			<input type="text" class="form-control" placeholder="Username" required id="Att1" name="userName"><br><!--Att1 Stands for Attribute 1-->
			<input type="email" class="form-control" placeholder="Email" required id="Email" onclick="Form_Validate(1)" name="Email">
			<p id="EmailMessage" style="color:red;"></p>
			<br>
			<p class="btn-block btn-success" onclick="OtpCall()">Send OTP</p><br>
			<input type="text" class="form-control" placeholder="OTP" required id="Att1" onclick="Form_Validate(2)" name="OneTimePass">
			<br>
			 
    <input type="password" id="psw1" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class='form-control' placeholder="Password" id="Att1" onclick="Form_Validate(3)">

    <div id="message">
  	<h3>Password must contain the following:</h3>
	<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
	<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
	<p id="number" class="invalid">A <b>number</b></p>
	<p id="length" class="invalid">Minimum <b>8 characters</b></p>
	</div><br>
	<input type="password" id="psw2" name="confirmPass" class="form-control" placeholder="ReEnter Password"required id="Att1" onclick="Form_Validate(4)">
	<br>
	<input type="number" class="form-control" placeholder="Mobile Number" required id="Att1" onclick="Form_Validate(5)" name="Mobile">
	
			<br><br>

	<input type="submit" class="btn-block btn-danger" name="Create Your Account" style='padding:8px;'>
		</form>
	
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{%static 'js/script.js'%}"></script>

</html>