{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive Side Navigation Bar</title>
	
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'css/emojionearea.min.css'%}">
  <script src="{%static 'js/emojionearea.min.js'%}"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<!--Search bar-->
<div id="myOverlay" class="overlay">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
  <div class="overlay-content">
    <form action="/search/" method="POST">{% csrf_token %}
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!--logOut Section-->
<div id="myOverlayLogOut" class="overlay">
  <span class="closebtn" onclick="closeLogOut()" title="Close Overlay">×</span>
  <div class="overlay-content-logOut">
    
    <div id="logOutDiv">
      <p><a href="/changepassword/" style="color: rgba(0, 150, 136, 1);"> Change Password</a></p>
      <br><hr>
      <p>Notifications</p><br><hr>
      <p onclick="nightMode()">Night Mode</p><br><hr>
      <p ><a href="/logout/" style="color: rgba(0, 150, 136, 1);"> LogOut</a></p><br><hr>
      <p style="padding-bottom:2%;" onclick="closeLogOut()">Cancel</p>      
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">LetsChat</div>
      <div id="wrapper1">
        <li class="input-button">
          <div class="input-wrapper1" style="float:left;">
            <input type="text" id="KUNDE" placeholder="Search by name or ID." value="" />
            <div id="loader" style="display:none;">
              <img src="loader.gif" />
            </div>
          </div>
          <div style="float:left;margin-left:10px;">
            <button id="buton" type="button" class="btn-style" value="search" onclick="find();">Hent</button>
          </div>
        </li>
      </div>
      <ul>
        <li><form action="#" method="POST">{% csrf_token %}
          <a><i class="fas fa-search" class="openBtn" onclick="openSearch()" style="margin-top:8px;"></i>
          </form></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user" class="openBtn" onclick="openLogOut()"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
      	<li><a href="/profile/{{userInfo.userName}}">
          <span class="icon"><i class=""><img src="{{userInfo.profilePic.url}}" style="width:45px;height:45px;border-radius:50%;vertical-align:middle;"></i></span>
          <span class="title" style="font-weight:bold">{{userInfo.firstName}} {{userInfo.lastName}}</span></a>
      	</li>

        <li><a href="/story/">
          <span class="icon"><i class="fas fa-user-friends"></i></span>
          <span class="title">Story</span></a></li>

        <li><a href="/myfriends/">
          <span class="icon"><i class="fas fa-user-friends"></i></span>
          <span class="title">Friends</span></a></li>
        <li><a href="/album/">
          <span class="icon"><i class="fas fa-photo-video"></i></span>
          <span class="title">Photos</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="far fa-comment-alt"></i></span>
          <span class="title">Messages</span>
          </a></li>
        <li><a href="/notifications/" class="active">
          <span class="icon"><i class="fas fa-bell"></i></span>
          <span class="title">Notification</span>
          </a></li>
        
    </ul>
  </div>
  
  <div class="main_container">
    <div class="">
      
      <div id="PostAlert"><h4 style="color:rgba(0, 150, 136, 1);">{{flag}} <span style="float:right;"><i class="far fa-times-circle" onclick="PostAlertClose()"></i></span></h4></div>
      <form method="Post" action="{% url 'PostSubmission' %}" id="PostWrapper"  enctype="multipart/form-data">
        {% csrf_token %}
          <h4>Create Post</h4>
          <textarea name="Post_Title" placeholder="what's on your mind?" style="width:90%;height:15vh;padding:2%;resize: none;" oninput="visibleButton()" id="TextPost"></textarea>
          <div id="PostOpt">
            <a href="#" class="icon"><i class="fas fa-map-marker-alt" id="Post_Icon_Cusomize"></i></a>
            <!-- <a href="#" class="icon"><i class="fas fa-photo-video" id="Post_Icon_Cusomize"> -->
              <label id="upfile1" style="cursor:pointer" class="fas fa-photo-video">
                <input type="file" name="MediaFile"  class="fas fa-photo-video" id="file1" style="display:none;">
              </label></i></a>
            <a href="#" class="icon"><i class="far fa-grin" id="Post_Icon_Cusomize" onclick="emojiCreater()"></i></a>
            <input type="submit" name="Post" id="SubmitPost" style="display:none;" value="Post">
          </div>
        </form>
      </div>
      <br><br>

      <div style="background:rgba(191, 191, 191, 0.5);padding:2%;width:90%;">
      		<div>
            {% for data,data2,data4 in userData %}
            <a href="/profile/{{data.userId}}">
      			<img src="{{data.userPic}}" style="width:50px;height:50px;border-radius: 50%;vertical-align: middle;">
      			<span style="font-weight:bold;padding-left:8px;">{{data.userName}} </span>
          </a>
            <br><span style="margin-left: 7%; font-size: 70%; margin-top: -10px;">
              <b>
                {% if data.date|date:"YmdHi" == date_now|date:"YmdHi" %}
                Just Now
                {% elif data.date|date:"Ymd" == date_now|date:"Ymd" %}
                {{ data.date|naturaltime }}
                {% else %}
                {{data.date|date:"M d"}} at {{data.date|date:"h:i A"}}
                {% endif %}
                 
            </b></span><br>
            
                {% if data.Message %}
            {{data.Message}}
            <input type="hidden" value="{{data.postId}}" id="like">
            {% endif %}
            <br><br>
            {% if data.post %}
            <img src="{{data.post.url}}" style="width:100%;">
            <br>
            {% endif %}
            <strong><p id="{{data.postId}}" style="padding:8px 0px 0px 8px;">{{data2}} Likes</p></strong>
      			<a><i class="fas fa-thumbs-up" id="PostResponse" name="{{data.postId}}" style="color:{{data4}};" onclick="likePost('{{data.postId}}')"></i></a>
      			<a href="#"><i class="far fa-comment-alt" id="PostResponse"></i></a>
      			<hr>
      			<br>
      			<form method="post" action="#">
      				<img src="{{userInfo.profilePic.url}}" style="width:50px;height:50px;border-radius:50%;vertical-align: middle;">
              <input type="text" placeholder="Drop your Comment" style="width:90%;padding:8px;">
              </form>
      			<br><br>
    
            {% endfor %}
      		</div>
      </div>
    </div>
    
  </div>
</div>
  
<script>
  function emojiCreater(){
    $("#TextPost").emojioneArea({
            pickerPosition: "bottom",
            tonesStyle: "bullet",
            
    });
    
document.getElementById("SubmitPost").style.display="block";

  }
  
  function likePost(data){
    
    Id = data
    
    $.ajax({
      method:'POST',
      url:'/postlike/',
      data:{
        postID : Id
      },
      success:function(e){
        likeCount = e['Result']
        
        document.getElementsByName(Id)[0].style.color=e['color'];
        document.getElementById(Id).innerHTML=likeCount+" Likes";
      },
      error:function(data){
        console.log('Failed');
      }
    })
  }



//Automatically Check Like Request
setInterval(function()
{
$.ajax({
      method:'POST',
      url:'/automaticallylike/',
      
      success:function(e){
        
        
        for(i=0;i<((e.like).length);i++){
          
          document.getElementById(e.userData[i]).innerHTML=e.like[i]+" Likes";
        }
      },
      error:function(data){
        console.log('Failed');
      }
    });
}, 5000); 
</script>
</body>
<script type="text/javascript" src="{%static 'js/script1.js'%}"></script>
</html>