{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>LetsChat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="StyleSheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="overlay">

<header id="header_Top" class="container-fluid">

	<div id="mySidenav" class="sidenav" style="position:fixed;top:0;right:0;">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#">About</a>
	  <a href="#">Terms & Condition</a>
	  <a href="#">Blog</a>
	  <a href="#">Contact</a>
	</div>

	<span style="font-size:30px;cursor:pointer" onclick="openNav()" >&#9776; let'sChat</span>

	<a href="#" class="pull-left" style="color:white;margin-left:5%;font-weight:bold;">AboutUs</a>
	<a href="#" class="pull-left" style="color:white;margin-left:5%;font-weight:bold;">ContactUs</a>

</header>

<!--Main Part-->
<div class="container">
<div class="row">
	

	<div class="col-sm-6">
		<!--<h4 id="Quotes">"<span style="color:red;font-weight: bolder;">lets chat</span>" is perfect because uou are inside</h4>-->
	</div>

	<div class="col-sm-6">
		<div id="landinglogin_div">
			<h4>SignIn</h4>
			{% for message in messages %}
			<strong>Message: </strong><b style="color: red;">{{ message }}</b>
			{% endfor %}
			<form action="/login/" method="POST">{% csrf_token %}
				<label>Email</label>
				<input type="Email" name="login_Email" placeholder="Email" class="form-control"><br>
				<label>Password</label><br>
				<input type="password" name="password" placeholder="Password" class="form-control"><br>
				<input type="submit"name="Login" class="btn-block btn-success">
				<p style="color:grey;">you don't have account <a href="/signup/">SignUp</a> Or <a href="/forgetPassword/">Forget Password</a>
				<br>
			</form>
		</div>
	</div>

	

</div>
</div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</html>