{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Show all Notifications</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{%static 'css/notifications.css'%}">
</head>
<body>
<header>
	<h2 id="brand">LetsChat</h2>
</header>
<br><br><br><br>

  <input type="hidden" value="{{userProfile}}" id="profile">
  <input type="hidden" value="{{userProfile}}" id="currentUserId">
  <input type="hidden" value="Add Friend" id="addbtn">

<div class="container">
<h4><strong id="pageTitle">Notifications</strong></h4>
<section id="wrapper">


<div id="friendRequests" >
  

  <div class="notificationSect">
      <span class="NotificationNotes" id="NotificationNotes"></span> <p >
    {% for data,data2 in request %}
    <input type="hidden" id="profile" name="profileId" value="{{data.userName}}">
    <div id="{{data.sender}}">
     <img src="{{data2}}" class="profilePic">
      </p>
      <div style="margin-left: 8%; margin-top: -20px;">
      <input type="button" onclick="addrequest('{{data.sender}}');" name="" value="Confirm" id="add">
          <input type="button" onclick="addrequest();" name="" value="Ignore" id="ignore">
      </div>
        <hr>
    </div>
    <!-- <div id="{{data.senderId}}">
      You and {{data.senderName}} are now Friends.
    </div> -->
    {% endfor %}
  </div>

</div>

<div id="likeComment">

  <div class="notificationSect">
  	<p >
      <span class="NotificationNotes" id="likeComment"></span></p><hr>
  </div>

</div>

<div id="All" >
  
  <div class="notificationSect">
    {% for data3,data4 in notification %}
    <!-- {{data2}} -->
    <div id="{{data.sender}}">
      <a href="/profile/{{data3.sender}}/">
      <img src="{{data4}}" class="profilePic">
      <a href="/profile/{{data3.sender}}/">
          {{data3.notification}}
        </a>
      </a>
      <div style="margin-left: 8%; margin-top: -20px;">
      </div>
        <hr>
    </div>
    {% endfor %}
  	
  </div>
</div>


</section>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{%static 'js/notifications.js' %}"></script>
<script type="text/javascript" src="{%static 'js/RequestSocket.js'%}"></script>

</body>
</html>