*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
header{
	
	position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color:#E9ECEF;
  -webkit-box-shadow: 0 8px 6px -6px grey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 6px -6px grey;

}


#brand{
		padding:16px;
		color:#00a087;
		margin-left:5%;
		font-weight:bold;
		padding:16px;
		cursor:pointer;
		

	}


.middleBox{
	margin-left:25%;
	margin-right:25%;
	margin-top:10%;
	box-shadow: 0 14px 28px grey, 0 10px 10px grey;
	padding:2%;
}

@media (max-width: 768px){
	.middleBox{
	margin-left:0;
	margin-right:0;
	margin-top:0;
}
}

@media (min-width: 768px) and (max-width: 979px)  {
	.middleBox{
	margin-left:15%;
	margin-right:15%;
	margin-top:10%;
}
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}