*
{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.header-container
{
	position:absolute;
	width:100%;
	margin-top:-200px;
	transition:all .4s;
}

.header-container header
{
	margin-top:200px;
}

header
{
	display:flex;
	flex-direction: column;
	background-color:#E9ECEF;
	
}

.heading
{
	padding:24px 0 24px 10px;
	box-shadow:0px 0px 23px 0px rgba(0,0,0,0.5);
	z-index:1;
}
.heading #brand
{
	
	color:#00a087;		
	font-weight:bold;
	cursor:pointer;
	font-size:2em;
}

.top-right{
	border:2px solid #00a087;
	padding:12px;
	border-radius: 50%;
	cursor: pointer;
	margin-left:8px;

}

#topsearchBox{
	width: 90%;
	padding:12px;
	display:inline-block;
	border:2px solid #00a087;
	color:#00a087;
	border-radius:25px 0 0 25px;
	border-right:none;
}

#searchBoxSectionContainer
{
	display:none;
}

#searchBoxSectionContainer :focus
{
	outline:none;
}

.fa-times-circle{
	padding:16px;
	border:2px solid #00a087;
	border-radius:0 25px 25px 0;
	margin-left:-30px;
	background:#00a087;
	color:red;

}

@media (max-width: 330px)
{
	.top-right
	{
		margin-left:4px;
	}
}

#profilePicImage{
	width:55px;
	height:55px;
	border:2px solid white;
	border-radius: 50%;
	vertical-align: middle;
	padding:5px;
	margin-left:12px;
}

.report_Wrapper
{
	width:90%;
	height:100%;
	margin:2% 5%;
	border-radius: 25px;
	box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.reportContent
{
	padding:8px 18px;
	color:rgba(0,125,136,1);
	background-color:#E9ECEF;
	border-radius: 25px;
	margin:2%;
	display:inline-block;
	font-weight: bold;
	cursor: pointer;
	
}

.reportContent:hover
{
	background-color:grey;
	color:white;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}