*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}
header{
    
    position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  
  background-color:#E9ECEF;

   -webkit-box-shadow: 0 8px 6px -6px grey;
       -moz-box-shadow: 0 8px 6px -6px grey;
            box-shadow: 0 8px 6px -6px grey;

}


#brand{
        padding:16px;
        color:#00a087;
        margin-left:5%;
        font-weight:bold;
        padding:16px;
        cursor:pointer;
        

    }


#createAccountDiv{
	padding:4%;
    padding-top:2%;
	align-content: center;
	color:grey;
    margin-left:15%;
    margin-right:15%;
    margin-top:2%;
    box-shadow: 0 14px 28px grey, 0 10px 10px grey;
    margin-bottom:2%;
}

@media (max-width: 768px){
    #createAccountDiv{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:2%;

}
}

@media (min-width: 768px) and (max-width: 979px)  {
    #createAccountDiv{
    margin-left:15%;
    margin-right:15%;
    margin-top:10%;
    margin-bottom:2%;
    }
}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding:10px 20px;
	width:100%;
	margin:auto;
	margin-top:-5px;
}
#message p {
    padding: 0px 35px;
    font-size: 18px;
}
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "\2713";
}
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    left: -35px;
    content: "\00D7";
}
